<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.dao.blog.ThingMapper">


    <select id="getThing" resultType="com.example.blog.dto.blog.response.QueryThingResDto">
        select _id as id,thing as thing, status as thing
        from blog_thing
        order by create_time desc limit 6
    </select>

</mapper>